@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UhBeeSeulvely';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSeulvely.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a, span, p{
    color: #323232;
}

.container{
    width: 100%;
}

.all{
    width: 1500px;
    margin: 0 auto;
}

.title_box{
    text-align: center;
    margin: 90px 0 70px;
}

.title_box h2{
    font-family: 'Humanbumsuk';
    font-size: 3em;
    color: #ffb500;
}

.title_box .gIntro {
	margin: 30px auto 0;
	width: 500px;
	font-family: 'Humanbumsuk';
	font-size: 1.2em;
	line-height: 1.3em;
	color: #353535;
}

.view_layout{
    text-align: center;
}

.view_layout ul {
	margin: 0 auto;
	display: flex;
	width: 1300px;
	flex-wrap: wrap;
}

.view_layout ul li{
    width: 400px;
    padding: 15px;
    display: inline-block;
    text-align: center;
}

.innerBox img{ 
    width: 380px;
    height: 180px;
    padding: 10px 0;
}

.innerBox{
    border: 3px solid #ececec;
    border-radius: 20px;
    margin: 10px 0; 
    height: 500px;
    padding-top: 30px;
    box-shadow:  5px 10px 10px 3px #e4e4e4;
}

.innerBox:hover{
    box-shadow:  5px 10px 10px 3px #b6b6b6;
}

.innerTop{
    width: 90%;
    height: 30px;
    border-bottom: 2px solid #ccc;
    margin: 0 auto;
}

.innerTop span{
    display: inline-block;
    font-family: 'Humanbumsuk';
    height: 18px;
    line-height: 1.1em;
    letter-spacing: 0.1em;
    font-size: 1.1em;
}

.innerTop span:nth-of-type(1){
    width: 105px;
    word-break: break-all;
    float: left;
    word-wrap: break-word;
    overflow: hidden;
    text-align: left;
}

.innerTop span:nth-of-type(2){
    width: 65px;
    float: left;
}

.innerTop span:nth-of-type(3){
    width: 180px;
    float: right;
    text-align: right;
}

.innerBox p{
    display: inline-block;
    padding: 15px; 
    font-family: 'Humanbumsuk';
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    word-break: keep-all;
    text-align: left;
}

.innerBox p:first-of-type{
    margin: 0 auto;
    width: 80%;
    height: 20px;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.p_content{
    width: 80%;
    height: 145px;
    font-size: 1.3em;
    font-family: 'Humanbumsuk';
    padding-bottom: 10px;
}

.arrow_box{
    text-align: center;
    margin: 80px 0 100px;
}

.arrow_box ul li{
    display: inline-block;
    font-family: 'Humanbumsuk';
    vertical-align: top;
    padding: 10px;
    font-weight: bold;
}
.arrow_box ul li a.nowPage {
	color: #FFB500;
}

.arrow_box ul li img{
    width: 15px;
}


.noDiary {
	margin: 60px auto;
}

.outGroup {
	position: relative;
	width: 1300px;
	height: 30px;
	margin: 0 auto 70px;
}
.outGroup .outBtn {
	position: absolute;
    right: 0;
    bottom: 0;
    color: #888;
    font-size: 1.1em;
    text-decoration: underline;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}